@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-400 hover:bg-green-600 dark:bg-gray-800 
  text-green-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  .top-navigation-icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .content-routes {
    margin-left: 12rem;
  }
}

/* start custom styling */
/* home */
.home-content-container,
.work-content-container,
.hobbies-content-container,
.hosting-content-container,
.incompatible-content-container {
  z-index: 1;
  background-color: white;
  color: rgb(34, 197, 94, 0.8);
  background-color: '#FFFFFF';
  position: fixed;
  top: 50%;
  left: 50%;
  font-weight: 250;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.home-content-container,
.work-content-container,
.hobbies-content-container,
.hosting-content-container {
  font-size: 0.9rem;
}

.home-content-container p {
  padding: 1rem;
  font-size: 0.9rem;
}

.home-image-container {
  width: 500px;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* work */
.work-content-container,
.hobbies-content-container,
.hosting-content-container {
  width: 290px;
  height: 290px;
}

.company-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-cards > div {
  border-radius: 50%;
}

.bell-light-container,
.ibm-light-container {
  margin-left: -10px;
}

.amazon-light-container img {
  width: 45px;
  padding: 10px;
}

.ibm-light-container {
  padding: 10px;
}

.bell-light-container img {
  width: 75px;
  padding: 10px;
}
.ibm-light-container img {
  width: 75px;
  border-radius: 50%;
}

.work-shoot-message {
  width: 70%;
  text-align: center;
}

/* hobbies */
.hobby-icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 86%;
  font-size: 0.5rem;
}

.hobbies-content-container img {
  width: 70px;
}

.gaming-container,
.soccer-container,
.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gaming-container img,
.soccer-container img,
.movies-container img {
  border-radius: 50%;
  margin-bottom: 0.75rem;
}

/* hosting */
.hosting-content-container {
  padding: 2rem;
}

/* incompatible */
.incompatible-content-container p {
  font-size: 0.7rem;
  padding: 2rem;
}
/* end custom styling */
